table {
    width: 100%;
  }

  .example-margin {
    margin: 0 12px;
  }
  
  #btns-wrapper{
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  #wrapper-tbl{
    margin: 20px;
  }